<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Parcing</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <script src="/public/js/app.js"></script>
</head>

<body>

  <canvas id="myChart"></canvas>
</body>

</html>
